@font-face{
	font-family: hack;
    src: url(../font/monof55.ttf);
}

@font-face{
	font-family: hackk;
    src: url(../font/monof56.ttf);
}

body {
  background: #000;
  margin: 0;
  padding: 0;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  color: #1EFF00;
}

body {

  }

#head p{
	position: absolute;
	color: white;
	font-size: 100px;
	margin-left: 100px;
	font-family: hack;
	margin-top: 15%;
	opacity: .4;
}
small{
	font-size: 25px;
}
span{
	font-family: hackk;
	font-size: 50px;
	text-align: left;
	opacity: 0.6;
	text-transform: uppercase;
	margin-left: 15%;
}
canvas{
	opacity: .2;
	position: absolute;
	top: 0;
	min-height: 100vh;
	width: 100%;
	z-index: -1;
}

.profile{
	border-radius: 100%;
	margin-top: 50px;
	text-align: center;
	height: 200px;
}

.typed{
	color: #fff;
	font-size: 25px;
}

.typing{
	width: 100%;
}

.left{
	width: 50%;
	height: 50vh;
	background-color: black;
}

.nodisplay {
  display: none;
  }

 .cont li{
 	display: inline;
 	padding: 10px;

 }
 .cont li a{
 	color: #fff;
 	transition: all 0.5s ease-in;
 }


 .cont li a:hover{
 	color: inherit;
 	font-size: 23px;
 }



/*.typed-cursor{
            opacity: 1;
            font-weight: 100;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
            color: #fff;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }*/