/*#0099ff*/
@import url('https://fonts.googleapis.com/css?family=Quicksand|Rock+Salt');
*{
	/*box-sizing: unset !important;*/
}
body{
	background-color: #0099FF;
	/*box-sizing: unset;*/
	/*width: auto;*/
	/*width: 100vw;*/
}

nav .brand-logo{
	font-family: "Rock Salt";
	color: #000;
}


nav ul a{
	color: #000;
}


.hero{
	background-color: #0099FF;
	text-align: center;
	transform: skewY(-6deg);
	min-height: 100vh;
	/*width: 100%;*/
	height: 100%;
	/*width: 100vw;*/
	/*box-sizing: unset;*/

}

.hero img{
	height: 700px;
	transform: skewY(6deg);
}

.services{
	padding: 200px;
	background-color: #e7eeed;
	transform: skewY(-6deg);
	/*min-height: 100vh;*/
	min-height: 100%;
	/*width: 100%;*/
	/*box-sizing: unset;*/
	/*width: 100vw;*/

}

.services .inner{
	font-family: "Quicksand";
	text-align: center;
	transform: skewY(6deg);
}

.skills_box{
	max-height: 300px;
	line-height: 300px;
}
.skills_logo{
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	padding: 10px;
	vertical-align: middle;
}

.clients{
	padding: 200px;
	background-color: #fff;
	/*background-color: #e7eeed;*/
	/*min-height: 100vh;*/
	transform: skewY(-6deg);
	/*width: 100%;*/
	/*height: 100%;*/
	/*box-sizing: unset;*/
	/*width: 100vw;*/

}


.clients .inner{
	font-family: "Quicksand";
	text-align: center;
	transform: skewY(6deg);
}
.client_box{
	height: 200px;
	line-height: 200px;
}
.clients_logo{
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	padding: 10px;
	vertical-align: middle;
}



.contact{
	padding: 200px;
	/*background-color: #fff;*/
	/*background-color: #e7eeed;*/
	min-height: 25vh;
	transform: skewY(-6deg);
	/*width: 100%;*/
	/*height: 100%;*/
	/*width: 100vw;*/
	/*box-sizing: unset;*/

}


.contact .inner{
	font-family: "Quicksand";
	text-align: center;
	transform: skewY(6deg);
}
.contact_box{
	max-height: 100px;
	line-height: 100px;
	height: 100px;
}
.contact_logo{
	/*transform: skewY(-6deg);*/
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	padding: 10px;
	vertical-align: middle;
}




/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}



/* Desktops and laptops ----------- */
@media only screen  and (max-width : 425px) {
	*{
		/*box-sizing: unset !important;*/

	}
	/*.hero,*/
	.services,
	.clients,
	.contact{
		box-sizing: unset !important;
		width: 100%;
	}
}

.creds{
	margin-top: 200px;
}
.creds a{
	color: #fff;
}